
    table{
        width: 95%;
        border-collapse: collapse;
        margin-left: 25px;
        margin-right: 25px;
    }


    th{
        text-align: left;
        font-weight: bold;
        background-color: #cbd9dc;
        text-transform: capitalize;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        border: 1px solid black;
    }

    td{
        background-color: #cbd9dc;
        padding-left: 10px;
        border: 1px solid black;
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: #ad115c;
    }

    .contenu-profil {
    grid-area: contenu-profil;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
