
table{
      width: 95%;
      border-collapse: collapse;
      margin-bottom: 20px;
   
}

h1{
      font-family: var(--font-title);
}


    main{
        display: flex;
        justify-content: center; 
        align-items: center;
    }


    th{
        text-align: left;
        font-weight: bold;
        background-color: #cbd9dc;
        text-transform: capitalize;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        border: 1px solid var(--text-main);
    }

    td{
        background-color: #cbd9dc;
        padding-left: 10px;
        border: 1px solid var(--text-main);
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: var(--couleur-curseur-bouton);
    }

    .titre-admin {
    grid-area: titre-admin;
    padding: 32px;
    display: flex;
    flex-direction: column;
    }

    .filtres-admin {
        display: flex;
        justify-content: flex-end; 
        margin-bottom: 20px;
        align-items: center;
    }

    .filtres-admin select {
        margin-left: 10px;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid black;
        background-color: white;
        cursor: pointer;
    }

@media screen and (max-width: 768px) {
    .filtres-admin {
        display: flex;
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center;
        width: 100%;
        padding: 0 10px;
    }

    main {
        display: block; 
        overflow-x: auto; 
        width:100%;
    }

    table {
        width: 100%;
        font-size: 0.8rem;
        min-width: 650px;
    }
    th{
        padding: 12px 10px;
    }

    td {
        padding: 12px 10px;
    }
    
    th:last-child {
        min-width: 160px;
        padding-right: 20px;
    }
    
    td:last-child {
        min-width: 160px;
        padding-right: 20px;
    }
}
