
    table{
        width: 95%;
        border-collapse: collapse;
        margin-left: 25px;
        margin-right: 25px;
    }


    th{
        text-align: left;
        font-weight: bold;
        background-color: #cbd9dc;
        text-transform: capitalize;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    td{
        background-color: #cbd9dc;
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: #ad115c;
    }
