* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-client);
    color: var(--text-main);
    font-family: var(--font-main, sans-serif);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--border-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    display: flex;
    align-items: center;
    font-family: var(--font-title, sans-serif);
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--text-main);
}

/* Image du Logo */
.header-logo {
    height: 35px;
    width: auto;
    margin-right: 10px;
}

/* Navigation */
header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

/* Liens du menu */
header a {
    text-decoration: none;
    color: var(--text-main);
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.3s;
}

header a.active {
    color: var(--couleur-curseur-bouton);
    text-decoration: underline;
    text-underline-offset: 4px;
}

header a:hover {
    color: var(--couleur-curseur-bouton);
}

header .btn {
    background: var(--primary-client);
    color: var(--text-main);
    padding: 8px 15px;
    border-radius: 8px;
    border: 2px solid var(--border-color);
    transition: transform 0.2s, box-shadow 0.2s;
    font-weight: bold;
    text-decoration: none;
}

header .btn:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 0px var(--border-color);
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: var(--bg-client);
    margin-top: auto;
    border-top: 2px solid var(--border-color);
}

/* Adapté pour telephones/tablettes */
@media (max-width: 768px) {
    
    header {
        flex-direction: column;
        padding: 15px 20px;
        gap: 15px;
    }

    header nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    header .logo {
        font-size: 1.2rem;
    }

    .conteneur-tableau {
        flex-direction: column;
    }
    .colonne-commandes {
        border-right: none;
        border-bottom: 2px solid var(--border-color);
    }
}
