.titre-modif {
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--text-main);
}


a:hover{
    color: #ad115c;
}


.maps{
    display: inline-flex;
    margin: 5px;
    text-align: center;
    background-color:#E2ECE9;
    border: 1px solid var(--text-main);
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px; 
    border: 1px solid var(--text-main); 
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.maps:hover{
    transform: translateY(-2px);
    box-shadow: 2px 4px 0px var(--text-main); 
}

.btn-livraison{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    padding: 10px 20px;
    width: 40%;
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
    border-radius: 15px; 
    border: 2px solid var(--text-main); 
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn-livraison:hover {
    transform: translateY(-2px);
    box-shadow: 2px 4px 0px var(--text-main); 
}


.livreur-info{
    padding: 20px;
    border: 2px solid var(--text-main);
    background-color: #fff0f5;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80%;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.bloc-blanc{
    width: 100%;
    padding: 15px;
    border: 2px solid var(--text-main);
    border-radius: 15px;
    background-color: white;
}
