
.titre-modif {
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--text-main);
}


a:hover{
    color: #db7396;
}


.maps{
    display: inline-flex;
    padding: 3px;
    text-align: center;
    background-color:#E2ECE9;
    border: 1px solid var(--text-main);
    border-radius: 15px;
    text-decoration: none;
    border-radius: 15px; 
    border: 1px solid var(--text-main); 
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.maps:hover{
    transform: translateY(-2px);
    box-shadow: 2px 4px 0px var(--text-main); 
}

.btn-livraison{
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-top: 20px;
    text-align: center;
    padding: 10px 20px;
    width: 40%;
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
    border-radius: 15px; 
    border: 2px solid var(--text-main); 
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn-livraison:hover {
    text-decoration: none;
    transform: translateY(-2px);
    box-shadow: 2px 4px 0px var(--text-main); 
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.livreur-info{
    padding: 50px;
    border-top: 2px solid var(--text-main);
    background-color: #fff0f5;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.bloc-blanc {
    margin-top: 40px;
    width: 100%;
    padding: 40px 30px; 
    min-height: 400px; 
    border: 2px solid var(--text-main);
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px; 
    font-size: large;
}


.bloc-blanc p:first-child {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

@media screen and (max-width: 768px) {
   
    .livreur-info {
        padding: 10px; 
    }

   
    .bloc-blanc {
        width: 100%; 
        padding: 30px 15px;
        font-size: 1.3rem;  
        gap: 35px;
        min-height: auto;
    }

   
    .bloc-blanc p:first-child {
        flex-direction: column;
        align-items: stretch; /* Le bouton Maps prendra toute la largeur */
        gap: 15px;
    }

    .btn-livraison {
        width: 100% !important;   /* Force le bouton à prendre toute la largeur */
        margin: 30px 0 !important; /* Le centre et ajoute de l'espace au-dessus/dessous */
        padding: 25px !important;  /* Épaisseur maximale pour les gants */
        font-size: 1.4rem;         /* Texte géant */
        justify-content: center;
    }
}
