
.titre-modif {
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--text-main);
}


a:hover{
    color: #db7396;
}


.maps{
    display: inline-flex;
    padding: 3px;
    text-align: center;
    background-color:#E2ECE9;
    border: 1px solid var(--text-main);
    border-radius: 15px;
    text-decoration: none;
    border-radius: 15px; 
    border: 1px solid var(--text-main); 
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.maps:hover{
    transform: translateY(-2px);
    box-shadow: 2px 4px 0px var(--text-main); 
}

.btn-livraison{
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-top: 20px;
    text-align: center;
    padding: 10px 20px;
    width: 40%;
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
    border-radius: 15px; 
    border: 2px solid var(--text-main); 
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn-livraison:hover {
    text-decoration: none;
    transform: translateY(-2px);
    box-shadow: 2px 4px 0px var(--text-main); 
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.livreur-info{
    padding: 50px;
    border-top: 2px solid var(--text-main);
    background-color: #fff0f5;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.bloc-blanc {
    margin-top: 40px;
    width: 100%;
    padding: 40px 30px; 
    min-height: 400px; 
    border: 2px solid var(--text-main);
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px; 
    font-size: large;
}


@media screen and (max-width: 768px) {
    .livreur-info {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bloc-blanc {
        width: 100%; 
        margin-top: 20px;
        padding: 30px 20px;
        font-size: 1.5rem; 
        gap: 30px;
        min-height: auto;
    }


    .maps {
        padding: 60px;
        justify-content: center;
        font-size: 1.2rem;
        text-align: center;
    }

    .btn-livraison {
        width: 100%;   
        margin: 40px 0 0 0; 
        padding: 30px; 
        font-size: 1.6rem; 
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }
}


