
.titre-modif {
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--text-main);
}


a:hover{
    color: #db7396;
}

.zone-boutons {
    display: flex;             
    justify-content: center;  
    gap: 20px;                
    margin-top: 30px;
    width: 100%;
}


.maps {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;                   
    max-width: 400px;
    padding: 25px;            
    background-color: #E2ECE9;
    border: 2px solid var(--text-main);
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn-livraison {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;                   
    max-width: 400px;
    margin-left: 0;            
    margin-top: 0;            
    padding: 25px;            
    background-color: #2ecc71;
    color: white;
    border: 2px solid var(--text-main);
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.maps:hover {
    transform: translateY(-2px);
    box-shadow: 2px 4px 0px var(--text-main);
}

.btn-livraison:hover {
    transform: translateY(-2px);
    box-shadow: 2px 4px 0px var(--text-main);
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.livreur-info{
    padding: 50px;
    border-top: 2px solid var(--text-main);
    background-color: #fff0f5;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.bloc-blanc {
    margin-top: 40px;
    width: 100%;
    padding: 40px 30px; 
    min-height: 400px; 
    border: 2px solid var(--text-main);
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px; 
    font-size: large;
}

@media screen and (max-width: 768px) {
    .livreur-info {
        padding: 20px;
    }

    .zone-boutons {
        flex-direction: column; 
        gap: 15px;
    }

    .maps {
        max-width: 100%; 
        width: 100%;
        padding: 30px;
        font-size: 1.2rem;
    }

    .btn-livraison {
        max-width: 100%; 
        width: 100%;
        padding: 30px; 
        font-size: 1.2rem;
    }

}




