.rect_bleu{
    width:800px;
    height: 400px;
    background-color: #9ACBD5;
    border-radius: 20px;
    
}
body {
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;   
    min-height: 100vh;    
    background-color: #E2ECE9; 
}
.logo_login{
    width: 100px;
    height: 100px;  
}
