:root {
    /* Fonts */
    --font-main: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-title: 'Georgia', serif;

    --text-main: #2C3E50;
    --text-light: #fff0f5;

    --bg-client: #E2ECE9;
    --primary-client: #FAD2E1;
    --card-bg-client: #9ACBD5;
    --couleur-curseur-bouton: #ad115c;
    
    --border-color: #2C3E50;
    --shadow-soft: 0 4px 6px rgba(0,0,0,0.1);
}
